.modal__content {
  width: 500px;
  box-sizing: border-box;
}

.modal__content_type_image {
  border-radius: 16px;
  overflow: hidden;
  padding: 0;
}

.modal__image {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  height: auto;
}

.modal__close {
  background: transparent;
}
.modal__close-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modal__footer {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__caption {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.modal__caption-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin: 20px 32px 0 32px;
  padding: 0;
}

.modal__weather {
  margin: 12px 0 12px 32px;
  padding: 0;
}

.modal__delete {
  color: #ff4d00;
  font-family: Cabinet Grotesl;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
}
