.toggle-switch {
  width: 56px;
  height: 28px;
  box-shadow: 0 0 0 2px #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  background: #fff;
  display: inline-block;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  height: 30px;
  width: 30px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.toggle-switch__text_F {
  color: #fff;
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.toggle-switch__text_C {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 26px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: #fff;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: rgba(0, 0, 0, 0.5);
}
