.modal__content {
  /* padding: 0; */
  width: 500px;
  box-sizing: border-box;
}

.modal__content_type_image {
  border-radius: 16px;
  overflow: hidden;
  /* width: 100%;
  height: auto; */
  padding: 0;
}

.modal__image {
  width: 100%;
  /* min-width: 0;
  max-width: 100%; */
  display: block;
  /* border-radius: 0; */
  margin-bottom: 20px;
  height: auto;
}

.modal__close {
  background: transparent;
}
.modal__close-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.modal__footer {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__caption {
  margin: 0;
  padding: 0 0 12px 32px;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  padding: 0 0 32px 32px;
  /* padding-bottom: 32px;
  padding-left: 32px; */
}
