@import url(./vendor/normalize.css);

@font-face {
  src: url("./vendor/cabinet-grotesk/CabinetGrotesk-Regular.otf");
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: normal;
  font-style: normal;
}
